telepot==12.7
urllib3==1.25.9
yarl ==1.4.2
aiohttp==3.7.4
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
Django==3.0.6
idna==2.9
image==1.5.32
multidict==4.7.6
Pillow==7.1.2
pip==20.1.1
pytesseract==0.3.4
pytz==2020.1
setuptools==47.1.1
six==1.15.0
sqlparse==0.3.1
opencv-python==4.2.0.34

